= form_for @application_setting, url: admin_application_settings_path(anchor: 'js-repository-storage-settings'), html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .sub-section
      .form-group
        .form-check
          = f.check_box :hashed_storage_enabled, class: 'form-check-input'
          = f.label :hashed_storage_enabled, class: 'form-check-label' do
            使用哈希后的存储路径创建新项目或者重命名的项目
          .form-text.text-muted
            在磁盘上启用不可改变的、基于哈希的路径和代码库的名字来存储代码库。这将避免由于项目 URL 改变而导致项目在磁盘上被移动或改名，这样可能可以提高磁盘 I/O 性能。
            %em (实验性功能)
      .form-group
        = f.label :repository_storages, '新项目的存储路径', class: 'label-bold'
        = f.select :repository_storages, repository_storages_options_for_select(@application_setting.repository_storages),
          {include_hidden: false}, multiple: true, class: 'form-control'
        .form-text.text-muted
          管理代码库的存储路径。想了解更多请看
          = succeed "." do
            = link_to "版本库存储文档", help_page_path("administration/repository_storage_paths")
    .sub-section
      %h4 Circuit breaker
      .form-group
        = f.label :circuitbreaker_check_interval, _('Check interval'), class: 'label-bold'
        = f.number_field :circuitbreaker_check_interval, class: 'form-control'
        .form-text.text-muted
          = circuitbreaker_check_interval_help_text
      .form-group
        = f.label :circuitbreaker_access_retries, _('Number of access attempts'), class: 'label-bold'
        = f.number_field :circuitbreaker_access_retries, class: 'form-control'
        .form-text.text-muted
          = circuitbreaker_access_retries_help_text
      .form-group
        = f.label :circuitbreaker_storage_timeout, _('Seconds to wait for a storage access attempt'), class: 'label-bold'
        = f.number_field :circuitbreaker_storage_timeout, class: 'form-control'
        .form-text.text-muted
          = circuitbreaker_storage_timeout_help_text
      .form-group
        = f.label :circuitbreaker_failure_count_threshold, _('Maximum git storage failures'), class: 'label-bold'
        = f.number_field :circuitbreaker_failure_count_threshold, class: 'form-control'
        .form-text.text-muted
          = circuitbreaker_failure_count_help_text
      .form-group
        = f.label :circuitbreaker_failure_reset_time, _('Seconds before reseting failure information'), class: 'label-bold'
        = f.number_field :circuitbreaker_failure_reset_time, class: 'form-control'
        .form-text.text-muted
          = circuitbreaker_failure_reset_time_help_text

  = f.submit _('Save changes'), class: "btn btn-success"
