.diff-file.file-holder
  .diff-content
    - if markup?(@blob.name)
      .file-content.wiki
        = markup(@blob.name, @content, legacy_render_context(params))
    - else
      .file-content.code.js-syntax-highlight
        - unless @diff_lines.empty?
          %table.text-file
            - @diff_lines.each do |line|
              %tr.line_holder{ class: "#{line.type}" }
                - if line.type == "match"
                  %td.old_line.diff-line-num= "..."
                  %td.new_line.diff-line-num= "..."
                  %td.line_content.match= line.text
                - else
                  %td.old_line.diff-line-num
                  %td.new_line.diff-line-num
                  %td.line_content{ class: "#{line.type}" }= diff_line_content(line.text)
        - else
          .nothing-here-block 没有修改。
