- project = local_assigns.fetch(:project)
- members = local_assigns.fetch(:members)

.card
  .card-header.flex-project-members-panel
    %span.flex-project-title
      %strong= project.name
    %span.badge.badge-pill= members.total_count
    = form_tag project_project_members_path(project), method: :get, class: 'form-inline member-search-form flex-project-members-form'  do
      .form-group
        .position-relative
          = search_field_tag :search, params[:search], { placeholder: '通过姓名查找现有成员', class: 'form-control', spellcheck: false }
          %button.member-search-btn{ type: "submit", "aria-label" => "开始搜索" }
            = icon("search")
        = render 'shared/members/sort_dropdown'
  %ul.content-list.members-list
    = render partial: 'shared/members/member', collection: members, as: :member
